@font-face {
  font-family: Nunito;
  src: url("./Nunito/Nunito-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: Nunito;
  src: url("./Nunito/Nunito-Bold.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}
/*
* {
  outline: 1px dashed #bada55;
}
*/
/* Page =================================================== */
:root {
  --bg-primary: #fbfffe;
  --white: #fff;
  --black: #000;
  --yellow: #ffd82a;
  --gradient-yellow: #e4a8040f;
  --red: #96031a;
  --dark-yellow: #e4a804;
  --dark-green: #38473b;
  --light-black: #6d676e;
  --dark-black: #1b1b1e;
}
html {
  background: var(--white);
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: Nunito, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: var(--black);
}
html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* Global =================================================== */
*,
:after,
:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
a:link,
a:visited {
  color: inherit;
}
a:hover,
a:active {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--yellow);
}
.container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}
/* Typography =================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
}
h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf;
}
h1,
.h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
}
h2,
.h2 {
  margin-bottom: 0.75em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}
h3,
.h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
}
h4,
.h4 {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}
h6,
.h6 {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.row {
  width: 100%;
}
.row::after {
  clear: both;
  display: table;
  content: "";
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}
.align-center {
  text-align: center;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.text-1x {
  font-size: 100%;
}
.text-2x {
  font-size: 200%;
}
.text-3x {
  font-size: 300%;
}
.border-round-1 {
  border-radius: 1rem;
}
/* Top Header =================================================== */
.header {
  background: var(--bg-primary);
}
.header-logo-wrapper {
  display: inline;
}
.header-logo {
  display: none;
}
.header-logoText {
  display: block;
  width: 250px;
  height: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
  background: var(--bg-primary);
  color: var(--black);
}
.header-nav h1 {
  /* border-bottom: #100e17; */
  margin-bottom: 0px;
}
.header-menu-button {
  display: none;
}
.header-nav > ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.header-nav li {
  margin-right: 1em;
}
.header-nav li:last-child {
  margin-right: 0;
}
/* Main =================================================== */
.main {
  min-height: calc(100vh - 126px);
}
.cta-btn {
  background-color: var(--dark-black);
  color: var(--yellow) !important;
  padding: 10px 20px;
  font-size: 200%;
  border: 0px;
}
.cta-btn:hover {
  background-color: var(--light-black);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px;
  background-image: linear-gradient(0deg, var(--dark-yellow), var(--yellow));
  box-shadow: 0 20px 100px 0 rgba(0, 0, 0, 0.15);
  color: var(--white);
}

.article-card {
  position: relative;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
  box-shadow: 0 2px 4px rgba(3, 27, 78, 0.06);
}

.featured-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  background: var(--dark-black);
}

.featured-bar a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 1em;
  padding: 10px;
  color: var(--white);
}

.featured-bar svg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.featured-bar span {
  font-weight: bolder;
}

.article-card-category,
.post-category,
.post-content a {
  color: #007db5;
  font-weight: 600;
}
/* Medium width devices*/
@media screen and (max-width: 640px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .hero h1 {
    font-size: 300%;
  }
  .header-nav {
    flex-direction: row;
  }
  .header-logo {
    display: block;
    width: 50px;
    height: 50px;
  }
  .header-logoText {
    display: none;
  }
  .header-nav .h1-small {
    margin-bottom: 0.75em;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.25;
  }
  .header-nav ul {
    flex-direction: row; /* Change this to 'column' to stack the links */
  }
  .featured-bar a {
    margin-right: 0px;
  }
  .featured-bar svg {
    margin-bottom: 15px;
  }
}
/* Small width devices*/
@media screen and (max-width: 450px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .header-nav {
    flex-direction: row;
  }
  .header-menu-button {
    display: block;
    padding: 0.5em 1em;
    background: #e8e8e9;
    border-radius: 4px;
    color: var(--dark-black);
    opacity: 0.8;
  }
  .header-nav ul {
    display: none;
    flex-direction: column; /* Change this to 'column' to stack the links */
  }
  .header-nav ul li {
    margin: 0px;
    border-bottom: 1px solid var(--dark-green);
    padding: 1em;
  }
}
/* Code =================================================== */
.token.constant,
.token.deleted,
.token.property,
.token.symbol,
.token.tag {
  color: #ff488a !important;
}
/* Footer =================================================== */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: var(--bg-primary);
}
.footer .social {
  list-style-type: none;
  padding: 0px;
}
.footer .social li {
  display: inline;
  margin-right: 1em;
}
.footer .social li:last-child {
  margin-right: 0;
}
